* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


* {
    box-sizing: border-box;
  }

  .container {
    width: 100%;
    margin: 0 auto;
  }
  @media(min-width: 250px) {
      .container {
      margin: 0 auto;
      } 
  }
  @media(min-width: 1500px) {
      .container {
         max-width: 1200px;
         margin: 10 auto;
      }
  }
  header {
      display: flex;
      flex-direction: column;
  }
  @media(min-width: 1000px) {
      header {
          display: flex;
          flex-direction: row;
      }
  }
      
 
  h1,h2, h3{
     font-family: 'Averia Libre';
    
  }
  h1 {
      display: flex;
      align-content: center;
      font-size: 2rem;  
  }
  @media(min-width: 1000px) {
      h1{
          font-size: 3.5rem;
      }
  }

  @media(min-width: 1000px) {
    h3{
        font-size: 2rem;
    }
}


  nav a{
      display: inline-flex;
      justify-content: center;
      font-family: 'Basic';
      font-size: 1rem;
      width: 100px;
      border: 1px solid black;
      border-radius:15%;
      color: black;
      text-decoration: none;
      padding: 5px;
  }
  nav a:hover{
      font-weight: bold;
      background: white;
  }
  @media(min-width: 1000px) {
      nav a {
        font-size: 1rem;  
      }
  }
  
  p {
    margin: 20px 20px;
    line-height: 1.25;
    font-family: 'Basic';
    
  }
  
  img {
    display: flex;
    width: 170px; 
    height: 150px;
    margin-left: 25px;
  }


  @media(min-width: 1000px) {
      img {
          width: 300px;
          height: 250px;
      }
  }
  
  .topics{
    display: flex;
    justify-content:center;
    padding: 25px;
    border: 1px solid black
  }

 
.subject {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px 30px;
    border-bottom: 1px dashed black
}
.subject:hover {
    background:lightgray;
    cursor: pointer;
}

.subjectBar {
    display:flex;
    justify-content: space-around;
    margin: 15px;
  }

  .subjectContent {
      display: none;
  }


  header {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      padding: 20px 15px;
      background: lightgray; 
      border-bottom: 1px dashed black
  }
  .topics{
      margin-top: 50px;
     
  }
  footer {
      display: flex;
      justify-content: center;
  }
  
  .display{
      display:block;
  }
 

  